<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="/fragments :: head((${entity.new}?'新建':'编辑')+${jobType.label}+'作业')"></meta>
</head>
<body class="hold-transition skin-blue layout-top-nav fixed">
	<div class="wrapper">
		<div th:replace="/fragments :: navbar('job')"></div>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					作业 <small th:text="(${entity.new}?'新建':'编辑')+'作业'"></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="javascript:;"><i class="fa fa-dashboard"></i> 系统管理</a></li>
					<li><a href="javascript:;">作业管理</a></li>
					<li class="active" th:text="(${entity.new}?'新建':'编辑')+${jobType.label}+'作业'"></li>
				</ol>
			</section>

			<section class="content">

				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title" th:inline="text">请输入[[${jobType.label}]]作业信息</h3>
					</div>
					<form class="form-horizontal" th:action="@{/job/save}" method="post" th:object="${entity}">
						<input type="hidden" th:field="*{id.scheduler}" /> <input type="hidden" th:field="*{jobClassName}" />
						<div class="box-body">
							<div class="form-group">
								<label for="input-group" class="col-sm-2 control-label"><i class="required-tip">*</i>作业组</label>

								<div class="col-sm-9">
									<input class="form-control" id="input-group" placeholder="请输入组名" th:field="*{id.group}" type="text" data-parsley-required="true"
										data-parsley-required-message="请填写组名">
								</div>
							</div>
							<div class="form-group">
								<label for="input-name" class="col-sm-2 control-label"><i class="required-tip">*</i>作业名称</label>

								<div class="col-sm-9">
									<input class="form-control" id="input-name" placeholder="请输入作业名称" th:field="*{id.name}" type="text" data-parsley-required="true"
										data-parsley-required-message="请填写作业名称">
								</div>
							</div>
							<div class="form-group">
								<label for="input-description" class="col-sm-2 control-label"><i class="required-tip">*</i>作业描述</label>

								<div class="col-sm-9">
									<textarea class="form-control" id="input-description" placeholder="请输入作业描述" th:field="*{description}" type="text"
										data-parsley-required="true" data-parsley-required-message="请填写作业描述"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="input-description" class="col-sm-2 control-label">持续的</label>

								<div class="col-sm-9">
									<label> <input type="checkbox" th:field="*{durable}">
									</label>
								</div>
							</div>
							<div class="form-group">
								<label for="input-description" class="col-sm-2 control-label">请求恢复</label>

								<div class="col-sm-9">
									<label> <input type="checkbox" th:field="*{requestsRecovery}">
									</label>
								</div>
							</div>
							
							<div th:replace="/job/__${jobType}__ :: content"></div>
						</div>
						
						<div class="box-body">
						</div>
						<div class="box-footer">
							<button type="button" class="btn btn-default" onclick="location.href=base+'/system/user'">返回列表</button>
							<button type="submit" class="btn btn-success pull-right">保存</button>
						</div>
					</form>
				</div>

			</section>
		</div>


		<div th:replace="/fragments :: footer"></div>
	</div>
	<script th:replace="/fragments :: script"></script>
	<script type="text/javascript">
		$(function() {
			$(".content form").parsley().on(
					"form:submit",
					function(obj) {
						var $form = $(obj.element);
						$.post($form.attr('action'), $form.serialize(),
								function(result) {
									if (result.success) {
										alert("操作成功")
										location.href = base + "/job";
									} else {
										alert(result.msg);
									}
								}, "json");
						return false;
					});
		});
	</script>

</body>
</html>