server:
  port: 9101
spring:
  application:
    name: castle-service-provider
management:
  security:
    enabled: false
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/